.verify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Text color */
    font-family: Arial, sans-serif;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #ccc; /* Light grey border */
    border-top: 5px solid #4caf50; /* Green top border */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
}

/* Spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
      
